.place {
    display: grid;
    grid-template-areas:
    "title website"
    "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
    grid-template-columns: minmax(min-content, 460px);
    padding-bottom: 80px;
  }
  
  .place:last-of-type {
    padding-bottom: 92px;
  }
  
  @media screen and (max-width:1024px) {
    .place {
      grid-template-columns: minmax(min-content, 440px);
      max-width: 928px;
      column-gap: 32px;
    }
  }
  
  @media screen and (max-width:768px) {
    .place {
      grid-template-columns: minmax(min-content, 340px);
      max-width: 720px;
      column-gap: 28px;
      padding-bottom: 73px;
    }
  
    .place:last-of-type {
      padding-bottom: 90px;
    }
  }
  
  @media screen and (max-width:600px) {
    .place {
      grid-template-columns: 1fr;
      grid-template-areas:
      "title"
      "website"
      "image"
      "paragraph";
    }
  }
  
  @media screen and (max-width:320px) {
    .place {
      grid-template-columns: minmax(min-content, 1fr);
      max-width: 100vw;
      row-gap: 32px;
      padding-bottom: 50px;
    }
  
    .place:last-of-type {
      padding-bottom: 66px;
    }
  }